@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

a {
	cursor: pointer;
}

label,
h4,
h1,
h2,
h3,
h5,
h6 {
	color: var(--primary-text);
}

body {
	/* overflow: hidden; */
	background: var(--main-bg);
}

input[type='radio'] {
	outline: 0;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid var(--primary-text);
	margin: 0;
}
input[type='radio'] {
	appearance: none;
	margin: 0;
	font: inherit;
	width: 1.15em;
	height: 1.15em;
	border-radius: 50%;
	outline: 0;
	display: grid;
	place-content: center;
}

input[type='radio']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
}

input[type='radio']:checked::before {
	transform: scale(1);
	background-color: var(--primary-red);
}

input[type='radio']:checked,
input[type='radio']:target,
input[type='radio']:hover {
	border: 1px solid var(--primary-red);
}

input[type='radio']:focus-within {
	border: 1px solid var(--primary-red);
}
a,
button,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', sans-serif;
}

button {
	cursor: pointer;
}
input,
textarea {
	color: var(--primary-text);
}
input:focus,
textarea:focus {
	border: 1px solid rgba(50, 50, 50, 1);
	border-color: rgba(50, 50, 50, 1) !important;
	outline: none;
}

:root {
	--primary-red: #ef0000;
	--chat-main: rgba(255, 239, 239, 1);
	--primary-gray: #f9f9f9;
	--lighter-gray: rgba(234, 234, 234, 1);
	--primary-text: #323232;
	--secondary-gray: rgba(114, 114, 114, 1);
	--primary-red-disabled: #dbc3c3;
	--background-color: #ecf0f1;
	--primary-violet: #7589f4;
	--main-bg: #fff;
	--secondary-light: #b5b5b5;
	--text-light: #fff;
	--primary-blue: #54a9eb;
	--primary-red-hover: #ffefef;
	--primary-green: rgba(20, 192, 57, 1);

	--footer: rgba(50, 50, 50, 1);
}

.dark-mode {
	--primary-red: #ef0000;
	--primary-gray: #404040;
	--primary-text: #fff;
	--lighter-gray: rgba(91, 91, 91, 1);
	--primary-green: rgba(20, 192, 57, 1);
	--secondary-gray: rgba(211, 211, 211, 1);
	--primary-violet: #7589f4;
	--chat-main: rgba(64, 64, 64, 1);
	--background-color: #ecf0f1;
	--main-bg: #323232;
	--text-light: #fff;
	--secondary-light: rgba(181, 181, 181, 1);
	--primary-blue: rgba(84, 169, 235, 1);
	--footer: rgba(64, 64, 64, 1);
	--primary-red-hover: rgba(255, 239, 239, 1);
}

.container {
	padding: 0 5%;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.overflow-hidden {
	overflow: hidden;
}

.default-p {
	font-size: 16px;
	font-weight: 400;
	line-height: 20.8px;
	text-align: left;
	color: var(--secondary-gray);
}

.default-p_text {
	font-size: 16px;
	color: var(--primary-text);
}

.default-p_sm {
	font-size: 12px;
	color: var(--primary-text);
}

.default-h1 {
	font-size: 56px;
	font-weight: 700;
	line-height: 67.77px;
	color: var(--primary-text);
	text-align: left;
}

.default-h1 span,
.default-p span {
	color: var(--primary-red);
}

.default-h3_red {
	color: var(--primary-red);
	margin-top: 16px;
}

.default_red {
	color: var(--primary-red);
}

.default-p_red {
	color: var(--primary-red);
}

.text__typography-sm {
	font-size: 12px;
	color: var(--secondary-gray);
}

.default-h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--primary-text);

	line-height: 29.05px;
	text-align: left;
}

.ml-1 {
	margin-left: 12px;
}

.mt-3 {
	margin-top: 32px;
}

.default-h2 {
	color: var(--primary-text);
	font-size: 40px;
	font-weight: 700;
	line-height: 48.41px;
	text-align: left;
}

.default-link-text {
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20.8px;
	text-align: left;
	color: var(--primary-text);
	transition: all 0.3s ease-in-out;
}

.default-violet-sm {
	font-size: 12px;
	color: var(--primary-violet);
}
.default-b {
	color: var(--primary-text);
	font-size: 18px;
	font-weight: 600;
	line-height: 21.78px;
	text-align: left;
}
.default-violet {
	color: var(--primary-violet);
	transition: all 0.3s ease-in-out;
}

.default-violet:hover {
	color: rgba(71, 89, 188, 1) !important;
}

.default-violet-bg {
	background: var(--primary-violet);
	transition: all 0.3s ease-in-out;
	color: var(--text-light);
}

.default-violet-bg:hover {
	background: rgba(71, 89, 188, 1);
	color: var(--text-light);
}

.default-link-text:hover {
	color: var(--primary-red);
}

@media screen and (max-width: 768px) {
	.default-h1 {
		font-size: 35px;
		line-height: normal;
	}
}

.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	overflow: hidden;
}

.popup-scroll {
	overflow: auto;
	height: 80vh;
}

.mb-1 {
	margin-bottom: 16px;
}

.mb-01 {
	margin-bottom: 10px;
}

.mb-2 {
	margin-bottom: 24px;
}

.mb-3 {
	margin-bottom: 32px;
}

.text-center {
	text-align: center;
}

.popup_content {
	width: 80%;
	/* height: 90vh; */
	align-items: center;
	padding: 20px;
	background: var(--main-bg);
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.popup_content-ul {
	display: grid;
	gap: 24px;
	margin-top: 48px;
}

.popup_content-ul li {
	display: grid;
	gap: 16px;
}

.popup_images {
	width: 100%;
	height: 80%;
}

.popup_images img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}

.reviews_button_left,
.reviews_button_right {
	cursor: pointer;
}

.reviews_button_left.inactive,
.reviews_button_right.inactive {
	opacity: 0.5;
	cursor: not-allowed;
}

.mb-4 {
	margin-bottom: 48px;
}

.mb-6 {
	margin-bottom: 64px;
}

.buttons_popup {
	position: initial;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.popup_close {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: end;
	cursor: pointer;
	align-items: center;
}

@media screen and (max-width: 1050px) {
	.popup_content {
		width: 100%;
		height: 100%;
	}
}

.popup_video {
	width: 100%;
	height: 100%;
}

.popup_video iframe {
	width: 100%;
	height: 100%;
}

.profile_mobile_go_back {
	display: flex;
	gap: 10px;
	margin-bottom: 30px;
}

.profile_mobile_go_back span {
	color: var(--primary-text);
	font-size: 12px;
	font-weight: 400;
	line-height: 14.52px;
	text-align: left;
}
.profile_mobile_go_back {
	display: none;
}
@media screen and (max-width: 1050px) {
	.profile_mobile_go_back {
		display: flex;
	}
}

.profile_photo_popup_button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 207px;
	height: 50px;
	border: 1px solid var(--primary-red);
	color: var(--primary-red);
	cursor: pointer;
	transition: all 0.3s ease;
}

.profile_photo_popup_button:hover {
	background-color: var(--primary-red-hover);
}
.popup_reviews_content button {
	width: 100%;
}
.video-popup .popup_content {
	height: 90vh;
}
